$jet: #262a2b;
$eerie-black: #1d2021;
$walnut-brown: #504945;
$light-red: #f87575;
$mint: #52b788;
$picton-blue: #00a8e8;

$background1: $onyx;
$background2: $eerie-black;
$background3: $walnut-brown;
$accent1: $light-red;
$accent2: $mint;
$accent3: $picton-blue;
$foreground: #ffffff;

.status_bar {
  font-family: "monospace";
  color: $foreground;
  background-color: transparent;
}

.widget_tray {
  background-color: $background1;
  padding: 10px;
  margin: 20px 0px 20px 20px;
  border-radius: 10px;
}

.subtray {
  background-color: transparent;
}

.widget_box {
  background-color: $background2;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px
}

.time_h_display {
  font-weight: bold;
}

.shutdown_button {
}
